@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border-2 border-gray-300 rounded-md px-1 w-full mb-2;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-pink-900;
}
h1 {
  @apply text-blue-900 mb-2 text-xl;
}
label {
  @apply text-blue-900;
}
.btn-primary {
  @apply bg-pink-900 text-white px-4 py-1 rounded-md;
}
table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2 bg-blue-100;
}
table.basic tr td {
  @apply px-4 py-1 text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-red {
  @apply bg-red-900 text-white px-4 py-1 rounded-md shadow-sm;
}
.btn-gray {
  @apply bg-gray-500  text-white px-4 py-1 rounded-md border border-gray-200 shadow-sm;
}
